{% extends 'base.html' %}

{% load static %}

{% block title %} {% if update %}Изменить задачу{% else %}Добавить задачу{% endif %}{% endblock %}

{% block content %}
  {% include 'nav.html' %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-4 is-4">
          <div class="content">
            {% if update %}
              <h1>Изменить задачу</h1>
            {% else %}
              <h1>Добавить задачу</h1>
            {% endif %}
          </div>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-link" style="margin-top: 20px; width: 150px; height: 45px;">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src={% static 'js/datePicker.js' %}></script>
{% endblock %}