<nav class="navbar" role="navigation" aria-label="main navigation" style="margin-bottom: 10px;">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'tasks_list' %}">Выполненные задачи</a>
      <a class="navbar-item" href="{% url 'create_task' %}">Добавить задачу</a>
      <a class="navbar-item" href="{% url 'weekly_report' %}">Еженедельный отчет</a>
      <a class="navbar-item" href="{% url 'individual_report' %}">Индивидуальный отчет</a>
    </div>
  </div>
</nav>
{% if index %}
  <div class="select is-info" style="margin-bottom: 15px; margin-left: 18px;">
    <select onChange="window.location.href=this.value">
      <option>Фильтр по тегам</option>
      {% for tag in tags %}
        <option value="{% url 'tasks_list' %}?tag={{ tag.pk }}">{{ tag.name }}</option>
      {% endfor %}
    </select>
  </div>
{% endif %}